
<div class="row">
  <div class="col-sm-6">
    <h1><span style="color: purple; font-size:40px;"><%= @book.title() %></span></h1>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <a href="/" role="button" class="btn btn-primary" style="float: right; margin-top: 20px">Home</a>
    </div>
    <div class="row">
      <a href="/books" role="button" class="btn btn-warning" style="float: right; margin-top: 5px">All Books</a>
    </div>
  </div>
</div>

<div class="book-div">
<p>Title: <%= @book.title() %></p>
<p>Author: <%= @book.author() %></p>
<p>Number of Copies Available: <%= @number_of_copies %></p>
</div>

<br>

<form action="/books" method="post">
  <input name="_method" type="hidden" value="delete">
  <input name="id" id="id" type="hidden" value="<%= @book.id %>">
  <button type="submit" class="btn btn-danger">Delete Book!</button>
</form>

<br>
<div class="form-div">
  <form action="/book/<%=@book.id()%>" method="post">
    <input name="_method" type="hidden" value="patch">
    <input name="id" id="id" type="hidden" value="<%= @book.id %>"

    <div class="form-group">
      <label for="title">Edit the title</label>
      <input name="title" id="title" type="text" class="form-control" placeholder="ex: Harry Potter and the Sorcerer's Stone">
    </div>

    <div class="form-group">
      <label for="author">Edit the author</label>
      <input name="author" id="author" type="text" class="form-control" placeholder="ex: J.K. Rowling">
    </div>

    <div class="form-group">
    <label for="add_copies">Add Copies of <%= @book.title() %></label>
    <select id="add_copies" name="add_copies" type"number">
      <% range = (0..20).to_a.each do |number| %>
        <option value="<%= number%>"><%= number%></option>
      <% end %>
    </select>
  </div>

    <button type="submit" class="btn btn-success">Update!</button>
  </form>
  <br><br>
</div>
